# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Logfiles
*.log

# Distribution / packaging
*.egg-info/
*.egg

# OS X
.DS_Store

# VS Code
.vscode/*

# Barcodes
barcodes/*